{% extends 'main_recipe/layout.html' %}
    
{% block content %}

    <div class="container">
        <div class="m-5">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="m-5">
            <label for="exampleFormControlTextarea1" class="form-label">Message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            <botton class="btn btn-outline-success mt-5" type="submit" > Submit </botton>
        </div>
    </div>
    
{% endblock content %}

